apiVersion: v1
kind: Secret
metadata:
  name: identity-db-secret
  namespace: {{ include "clinicflow.namespace" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.identity.dbName | quote }}
  POSTGRES_USER: {{ .Values.postgres.identity.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.identity.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@identity-db:5432/%s?schema=public" .Values.postgres.identity.user .Values.postgres.identity.password .Values.postgres.identity.dbName | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: scheduling-db-secret
  namespace: {{ include "clinicflow.namespace" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.scheduling.dbName | quote }}
  POSTGRES_USER: {{ .Values.postgres.scheduling.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.scheduling.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@scheduling-db:5432/%s?schema=public" .Values.postgres.scheduling.user .Values.postgres.scheduling.password .Values.postgres.scheduling.dbName | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: profiles-db-secret
  namespace: {{ include "clinicflow.namespace" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.profiles.dbName | quote }}
  POSTGRES_USER: {{ .Values.postgres.profiles.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.profiles.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@profiles-db:5432/%s?schema=public" .Values.postgres.profiles.user .Values.postgres.profiles.password .Values.postgres.profiles.dbName | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: notifications-db-secret
  namespace: {{ include "clinicflow.namespace" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.notifications.dbName | quote }}
  POSTGRES_USER: {{ .Values.postgres.notifications.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.notifications.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@notifications-db:5432/%s?schema=public" .Values.postgres.notifications.user .Values.postgres.notifications.password .Values.postgres.notifications.dbName | quote }}
