apiVersion: v1
kind: Secret
metadata:
  name: identity-app-secret
  namespace: {{ include "clinicflow.namespace" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  JWT_SECRET: {{ .Values.identity.jwtSecret | quote }}
